* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}

main {
    width: 960px;
    margin: 64px auto;
}

.field {
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 17px 14px;
    margin: 42px 0;
    position: relative;
    display: flex;
    width: 465px;
}

label {
    display: block;
    position: absolute;
    top: -19px;
    left: 0;
    font-size: 12px;
    line-height: 15px;
    transform: rotate(-0.02deg);
    color: #4F4F4F;
}

.material-icons {
    font-size: 20px;
    margin-right: 18px;
    color: #828282;
}

input {
    font-size: 16px;
    border: 0px;
    width: 100%;
    line-height: 20px;
}

.checkbox {
    border: 1px solid #828282;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    margin-top: 23px;
}

input:active, input:focus {
    outline: none;
}

.columns {
    display: flex;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #F2F2F2;
    height: 535px;
    width: 383px;
    border-radius: 12px;
    padding: 33px;
}

.products p{
    
}

.card {
    margin-left: 112px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex .field {
    width: 217px;
    margin: 0;
}

.col1, .col2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

img {
    width: 136px;
    height: 136px;
    border-radius: 12px;
}

h1 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 51px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
}

h3 {
    color: #4F4F4F;
    font-size: 12px;
    line-height: 15px;
    display: inline;
}

button {
    background-color: #F2994A;
    color: white;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-radius: 12px;
    width: 166px;
    height: 54px;
    float: right;
    margin-top: 23px;
}

hr {
    color: #F2F2F2;
    margin: 10px 0;
}